<!DOCTYPE html>
<html lang="en-US">
<head>

	<embed src="images/m1.mp3" autostart="true" loop="true"
width="1" height="0">
</embed>
		
	<meta charset="UTF-8" />
	<meta name="description" content=""/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Windows 8 Tiles -->
	<meta name="msapplication-TileColor" content="#FFFFFF"/>
	<!-- ****** faviconit.com favicons ****** -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/animate.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/picto-foundry-emotions.css') }}" />
	<link rel="stylesheet"  href="{{ url_for('static', filename = 'css/picto-foundry-household.css') }}"/>
	<link rel="stylesheet"  href="{{ url_for('static', filename = 'css/picto-foundry-shopping-finance.css') }}"/>
	<link rel="stylesheet"  href="{{ url_for('static', filename = 'css/picto-foundry-general.css') }}"/> 
	
	<link  rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}"/>
</head>
	<body>

			
<section class="contact-form" id="contact-form">

<div class="content">
			<div class="content">	
					<div class="headergroup">
						<h2>
					      <!--  <span class="seconday">Login</span> -->
					        <span>Login  </span>
					    </h2>
				    </div>

		<div class="container">		    
			<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <br />
                  <!--  <form id="contact-us" method="post" action="contact.php"> -->
                        <!-- Left Inputs -->
                       <div class=".col-md-offset-5" 
                            <!-- Aid -->
                            <br>
                            <form action="" method="post">
                            <input type="text" name="aid" id="aid" required="required" class="form" placeholder="Access Id" />
                            <!-- Password --><br>
                            <input type="password" name="password" id="password" required="required" class="form" placeholder="Password" />
                            
                        </div><!-- End Left Inputs -->
         
						<input type="submit" value="Login" class="form-btn semibold">
						</form>
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                  
                            <!--<strong>Lets Vote !</strong> Your email has been delivered. -->
                        </div>
                    </div>
                    </div>
                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
       
        <br />
        
		</section>
			

		